* {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 10px;
   height: 100vh;
   min-width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: darkblue;
}

span {
   color: darkgreen;
}

header {
   width: 100%;
   max-width: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

header>section {
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: baseline;
   gap: 5px;
}

header>section>article {
   text-align: center;
}

header span {
   font-size: 1.7rem;
   font-weight: bold;
}

.card {
   border: 1px solid darkgray;
   border-radius: 5px;
   padding: 8px 10px;
   box-shadow: gray 0 1px 5px 1px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

h1> :first-child {
   font-size: 20vh;
}

h2 {
   font-size: 1.8rem;
}

h3 {
   text-transform: uppercase;
   color: darkgreen;
   white-space: nowrap;
}

button {
   font-size: 2.5rem;
   padding: 5px 10px;
   color: darkblue;
}

.boxes {
   border: 1px solid darkgray;
   border-radius: 3px;
   padding: 8px 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.form-modal {
   position: absolute;
   overflow: hidden;
   inset: 0;
   z-index: 99;
   background-color: hsla(0, 0%, 0%, 0.95);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
}

.form-modal>.wrapper {
   width: 100%;
   max-width: 600px;
   min-width: fit-content;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 5px;
   color: bisque;
}

.form-modal h3 {
   color: bisque;
}

.form-modal>.wrapper>section {
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 5px;
}

.form-modal>.wrapper>button {
   font-size: 1rem;
   padding: 3px 6px;
}

.flex-col {
   display: flex;
   flex-direction: column;
}

.grid {
   display: grid;
   grid-template-columns: 1fr auto;
   gap: 5px;
}

.hidden {
   display: none;
}

.reset {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 1.5rem;
   padding: 2px;
   border: none;
   outline: none;
   background: none;
   cursor: pointer;
}